@model GuessGameWebApp.Models.Game


<h1>Player: @ViewBag.Greeting</h1>
<h4>Game Over</h4>

<hr />
<div class="row">
  <div class="col-md-4">
    <h3> You @ViewBag.WinStatus!</h3>
    <hr />
    The secret number was @ViewBag.SecretNumber
  </div>
</div>


<div class="col-12 my-4 text-center">
  <a asp-controller="Game" asp-action="Index" type="button" class="btn btn-outline-primary">New game</a>
</div>


