@model GuessGameWebApp.Models.Game

<h4>Game Over!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       The secret number was @ViewBag.SecretNumber
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

